<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
@if (step==1) {
<div class=" w-screen p-6 rounded-lg box-border ">
    <h2 class="text-2xl text-start ms-32 mt-3 font-semibold">Forgot Password</h2>
    <form [formGroup]="ForgotPassword" (ngSubmit)="submitStep1()" class="w-5/6 mx-auto relative">
      <div class="ms-6 mt-3">
        <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
        <input id="email" formControlName="email" type="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
        <div *ngIf="ForgotPassword.get('email')!.invalid && ForgotPassword.get('email')!.touched" class="text-red-500 bg-red-50  text-sm mt-1 py-1">
            A valid email is required.
          </div>  
    </div>
    <button type="submit" [ngClass]="{'bg-green-400 text-white': ForgotPassword.valid, 'bg-white text-gray-400 border border-black': !ForgotPassword.valid}" class="mt-4 absolute left-5 py-2 px-4 font-medium rounded-lg hover:bg-green-500 hover:text-white hover:border-none  focus:outline-none transition-all">
        @if (callingAPI) {
          <i class="fa fa-spin fa-spinner"></i>
        } @else {
          Send Code
        }        
      </button>
    </form>
</div>  
}
@else if (step==2) {
<div class=" w-screen p-6 rounded-lg box-border ">
    <h2 class="text-2xl text-start ms-32 mt-3 font-semibold">Verify reset code:</h2>
    <form [formGroup]="verifyResetCode" (ngSubmit)="submitStep2()" class="w-5/6 mx-auto relative">
      <div class="ms-6 mt-3">
        <input id="resetCode" formControlName="resetCode" type="text" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <button type="submit" [ngClass]="{'bg-green-400 text-white': verifyResetCode.valid, 'bg-white text-gray-400 border border-black': !verifyResetCode.valid}" class="mt-4 absolute left-5 py-2 px-4 font-medium rounded-lg hover:bg-green-500 hover:text-white hover:border-none  focus:outline-none transition-all">
        @if (callingAPI) {
          <i class="fa fa-spin fa-spinner"></i>
        } @else {
          Verify
        }        
      </button>
    </form>
</div>

}
@else if (step==3) {
 <div class=" w-screen p-6 rounded-lg box-border ">
    <h2 class="text-2xl text-start ms-32 mt-3 font-semibold">Reset Password:</h2>
    <form [formGroup]="resetPassword" (ngSubmit)="submitStep3()" class="w-5/6 mx-auto relative">
      <div class="ms-6 mt-3">
        <input id="email" formControlName="email" type="email" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
      <div class="ms-6 mt-3">
        <input id="Password" formControlName="NewPassword" type="Password" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
    </div>
    <button type="submit" [ngClass]="{'bg-green-400 text-white': resetPassword.valid, 'bg-white text-gray-400 border border-black': !resetPassword.valid}" class="mt-4 absolute left-5 py-2 px-4 font-medium rounded-lg hover:bg-green-500 hover:text-white hover:border-none  focus:outline-none transition-all">
        @if (callingAPI) {
          <i class="fa fa-spin fa-spinner"></i>
        } @else {
         Reset
        }        
      </button>
    </form>
</div> 
}


