<div class="flex flex-wrap my-6 justify-center">
    <div class="w-full md:w-1/2 lg:w-1/4">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide><img src="../../assets/imgs/Slider-image-1.jpg" class="w-full h-auto md:h-[500px] object-cover"></ng-template>
            <ng-template carouselSlide><img src="../../assets/imgs/slider-image-2.jpg" class="w-full h-auto md:h-[250px] object-cover"></ng-template>
            <ng-template carouselSlide><img src="../../assets/imgs/slider-image-5.jpg" class="w-full h-auto md:h-[250px] object-cover"></ng-template>
        </owl-carousel-o>
    </div>
    <div class="w-full md:w-1/2 lg:w-1/4">
      <img src="../../assets/imgs/slider-image-3.jpg" class="w-full h-auto md:h-[250px] object-cover">
      <img src="../../assets/imgs/slider-image-4.jpg" class="w-full h-auto md:h-[250px] object-cover">
    </div>
</div>
