<div class="flex flex-wrap my-6 justify-center">
    <div class="w-1/4">
        <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide> <img src="..\..\assets\imgs\Slider-image-1.jpg" class="  h-[500px]" ></ng-template>  
            <ng-template carouselSlide> <img src="..\..\assets\imgs\slider-image-2.jpg" class=" h-[250px]" ></ng-template>   
            <ng-template carouselSlide> <img src="..\..\assets\imgs\slider-image-5.jpg" class=" h-[250px]" ></ng-template>  
          </owl-carousel-o>
     
    </div>
    <div class="w-1/4">
      <img src="../../assets/imgs/slider-image-3.jpg" class="w-full h-[250px]">
      <img src="../../assets/imgs/slider-image-4.jpg" class="w-full h-[250px]">
    </div>
  </div>
  
